<app-header></app-header>
<div class="container" style="background-color: #f8f9fa; margin: 1rem;">
  <mat-stepper #stepper [linear]="isLinear" [selectedIndex]="selectedIndex">
    <mat-step label="Upload CSV" state="scan">
      <mat-card style="width: 450px;margin: auto;background-color: #f8f9fa;">
        <p class="source-txt"> <span *ngIf="file && !file['item']">Please upload the source CSV file</span>
          <span *ngIf="file &&file['item']">Thank You for uploading CSV</span>
        </p>
        <mat-checkbox style="font-size: 12px;margin-bottom: 10px;" [checked]="autoScan"
          (change)="autoScan = !autoScan;"> Auto-Scan CSV
        </mat-checkbox>
        <div>
          <mat-card *ngIf="file && !file['item']" class="drag-drop-container inner-card m5">
            <div class="drag-drop-inner-container" (click)="fileInput.click()" appDragDrop
              (onFileDropped)="onFileDropped($event)">
              <input hidden type="file" #fileInput (change)="fileInputChange($event)">
              <h3>Drag and drop file here</h3>
              <img class="sty" src="../../assets/cloud-upload.png" width="50" height="50">
              <h3>or</h3>
              <button mat-raised-button color="primary">Upload CSV</button>
            </div>
          </mat-card>
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <mat-card *ngIf="file && file['item']" class="file-container inner-card m5">
              <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" style="padding-top: 5px;">
                <mat-icon> insert_drive_file</mat-icon>
              </div>
              <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7" style="display: flex; align-items: center">
                <span class="fileName"> {{ file['item'].name }} </span>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 file-action-container"
                style="display: flex; justify-content: flex-end">
                <button color="primary" mat-raised-button *ngIf="file && file['item'] && !autoScan && !isAutoScanDone"
                  class="apiplatform-btn-2" (click)="scanFile()">

                  <span *ngIf="!isScanning">Scan </span>
                  <span *ngIf="isScanning">
                    <img src="../assets/button_loading.gif" class="img img-responsive button_loading"
                      style="width: 20px;">
                  </span>
                </button>
                <button color="primary" matStepperNext mat-raised-button
                  *ngIf="file && file['item'] && (autoScan || isAutoScanDone)" class="apiplatform-btn-2">
                  Import
                </button>
                <span class="material-icons" (click)="deleteFile()" style="margin: 0 5px ">
                  delete
                </span>
              </div>

            </mat-card>
          </div>
          <div style="text-align: center;margin-top: 1rem;" *ngIf="file && file['item'] && isScanning">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
            <p class="source-txt" style="margin-top: 1rem;">
              Scanning...</p>

          </div>
        </div>


        <!-- <div class="col-12" style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
          <button mat-raised-button (click)="uploadFile()">
            Select File
          </button>
          <button mat-raised-button matStepperNext>
            Proceed to Next
          </button>
        </div> -->
      </mat-card>
      <div *ngIf="isAutoScanDone && scanResult">
        <div class="d-flex justify-content-between" style="margin-top: 2rem;">
          <div>
            <p class="source-txt" *ngIf="scanResult && scanResult.isError">Error Logs</p>
          </div>
          <div>
            <p class="source-txt">Status :
              <span style="font-size: 13px;font-weight: 300;" *ngIf="scanResult && scanResult.isError">Error</span>
              <span style="font-size: 13px;font-weight: 300;" *ngIf="scanResult && !scanResult.isError">Success</span>
            </p>
          </div>
          <div>
            <p class="source-txt" style="margin-left: 2rem;">Duration : <span
                style="font-size: 13px;font-weight: 300;">{{scanResult.durationInSeconds}}</span>s</p>
          </div>
        </div>
        <div class="table-responsive" *ngIf="scanResult && scanResult.isError">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Message</th>
                <th scope="col">Column</th>
                <th scope="col">Row</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let error of scanResult.errors">
                <td>{{error.type}}</td>
                <td>{{error.column}}</td>
                <td>{{error.row}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-step>

    <mat-step label="Connect Fresh Service" state="connect">
      <mat-card style="width: 450px;margin: auto;">
        <p class="source-txt">Configure API Key</p>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Domain</mat-label>
            <input matInput [(ngModel)]="domain" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>API Key</mat-label>
            <input matInput [(ngModel)]="apikey" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password">
          </mat-form-field>
        </div>
        <div class="d-flex flex-row" *ngIf="isconnected">
          <div style="margin-right: 5px;">
            <mat-icon style="color: green;">cloud_done</mat-icon>
          </div>
          <div>
            <p class="source-txt">Configuration successful.</p>
          </div>
        </div>
        <div class="col-12" style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
          <button *ngIf="!isconnected" mat-raised-button style="margin-right: 10px;" (click)="connect()"
            color="primary">
            <span *ngIf="!isLoading1">Connect </span>
            <span *ngIf="isLoading1">
              <img src="../assets/button_loading.gif" class="img img-responsive button_loading" style="width: 20px;">
            </span>

          </button>
          <button *ngIf="isconnected" mat-raised-button matStepperNext color="primary">
            Proceed to Field Mapping
          </button>
        </div>
      </mat-card>
    </mat-step>
    <mat-step label="Field Mapping" state="mapping">

      <mat-card style="width: 450px;margin: auto;background-color: #f8f9fa;">
        <p class="source-txt">
          <span *ngIf="jsonfile && !jsonfile['item']">Please upload JSON file for fields mapping</span>
          <span *ngIf="jsonfile && jsonfile['item']">Thank you for uploading JSON</span>
        </p>
        <div style="text-align: center;margin-bottom: 1rem;">
          <button *ngIf="!importJson" mat-raised-button color="primary" style="margin-bottom: 1rem;"
            (click)="importJson=!importJson">Upload
            JSON</button>
          <button *ngIf="attributes.length !==0" mat-raised-button matStepperNext color="primary"
            style="margin-left: 10px;">
            Proceed to Transformation
          </button>
        </div>

        <div>
          <mat-card *ngIf="jsonfile && !jsonfile['item'] && importJson" class="drag-drop-container inner-card m5">
            <div class="drag-drop-inner-container" (click)="fileInput1.click()" appDragDrop
              (onFileDropped)="onJsonFileDropped($event)">
              <input hidden type="file" #fileInput1 (change)="jsonfileInputChange($event)">
              <h3>Drag and drop file here</h3>
              <img class="sty" src="../../assets/cloud-upload.png" width="50" height="50">
              <h3>or</h3>
              <button mat-raised-button (click)="importJson=false">Cancel</button>
              <button mat-raised-button color="primary" style="margin-left: 10px;">Upload JSON</button>
            </div>
          </mat-card>
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <mat-card *ngIf="jsonfile && jsonfile['item']" class="file-container inner-card m5">
              <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
                <mat-icon> insert_drive_file</mat-icon>
              </div>
              <div class="col-lg-10 col-md-10 col-xs-8 col-sm-8" style="display: flex; align-items: center">
                <span class="fileName">{{ jsonfile['item'].name }} </span>
              </div>

              <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 file-action-container"
                style="display: flex; justify-content: flex-end">
                <span class="material-icons" (click)="deletejsonFile()" style="margin: 0 5px ">
                  delete
                </span>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-card>
      <div class="table-responsive" style="height: 80vh;overflow-y: auto;margin-top: 10px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Target Field</th>
              <th scope="col">Source Field</th>
              <th scope="col">Override</th>
              <th scope="col"> <mat-icon matTooltip="Add Attribute" (click)="addAttributeField()">add_box</mat-icon></th>
            </tr>
          </thead>
          
          <tbody>
            <ng-container *ngFor="let attribute of attributes; let j = index">
              <tr class="root">
                <td class="tour-schema-def-data-type">
                  <input class="form-control attribute" [value]="attribute.targetfield"
                    [(ngModel)]="attribute.targetfield">

                </td>

                
                <td class="tour-schema-def-data-type">

                  <input class="form-control" [(ngModel)]="attribute.sourcefield" type="text">
                </td>
                <td>
                  <!-- <mat-checkbox
                                [checked]="attribute.isOverride"
                                (change)="attribute.isOverride = !attribute.isOverride;">
                            </mat-checkbox> -->
                  <mat-icon (click)="toggleCollapse(attribute.sourcefield);" matTooltip="Add"><span
                      *ngIf="expandedRows.includes(attribute.sourcefield)">keyboard_arrow_down</span>
                    <span *ngIf="!expandedRows.includes(attribute.sourcefield)">keyboard_arrow_up</span></mat-icon>

                </td>

                <td>
                  <mat-icon (click)="removeAttribute(attributes, j)">remove_circle</mat-icon>

                </td>

              </tr>
              <tr *ngIf="attribute&& expandedRows.includes(attribute.sourcefield)">
                <td colspan="3">
                  <div class="table-responsive">
                    <table class="col-lg-12 col-md-12 col-sm-12">
                      <thead>
                        <tr>
                          <th>Source Value</th>
                          <th>Target Value</th>
                          <th>
                            <mat-icon matTooltip="Add Attribute" (click)="addOverride(attribute)">add_box</mat-icon>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let override of attribute.override;let k = index">
                          <td>
                            <input class=" form-control" [(ngModel)]="override.sourcevalue" type="text">
                          </td>
                          <td>
                            <input class="form-control" [(ngModel)]="override.targetvalue" type="text">
                          </td>
                          <td class="text-center">
                            <mat-icon (click)="removeOverride(attribute, k)">remove_circle</mat-icon>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>

    </mat-step>
    <mat-step label="Transformation" state="data">
      <mat-card>
        <p class="source-txt">Everything is setup to transform data</p>
        <div style="text-align: center;margin: 2rem;">
          <img class="sty" src="../assets/transform.jpg" width="150" height="150">
        </div>
        <div class="col-12" style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
          <button mat-raised-button color="primary">
            Proceed Transformation
          </button>
        </div>
      </mat-card>
    </mat-step>

    <ng-template matStepperIcon="upload">
      <mat-icon>publish</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="connect">
      <mat-icon>usb</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="scan">
      <mat-icon>device_hub</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="mapping">
      <mat-icon>list_alt</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="data">
      <mat-icon>send</mat-icon>
    </ng-template>
  </mat-stepper>
</div>