.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .source-txt {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }

  .close-icon {
    color: red;
    float: right;
    font-size: 1rem
  }
  
  .drag-drop-container {
    text-align: center;
    justify-content: center;
  }
  
  .drag-drop-inner-container {
    padding: 10px;
    height: 40%
  }
  
  .fileName {
    display: inline-block;
    width: 300px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .file-action-container {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .material-icons {
    cursor: pointer;
  }
  

 