<div class="container" style="background-color: #f8f9fa; margin: 1rem;">
  <mat-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel><i class="bi bi-upload"></i>Upload CSV</ng-template>
      <div class="col-12" style="text-align: center;margin-top: 2rem;">
        <button mat-raised-button (click)="uploadFile()">
          Import file
      </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Connect Fresh Service</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>JSON Mapping</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Migrate Data</ng-template>
    </mat-step>
  </mat-stepper>
</div>